@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.courses {
  margin: 1em 0;
  padding: 3em 0;
  background-color: white;
  background-image: url(../img/subject_bg.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses .catagories,
.courses .subjects {
  width: 70%;
  margin: 3em auto;
}

.courses .catagories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses .catagories p {
  color: #777777;
  font-weight: 400;
  line-height: 2.5em;
}

.courses .catagories h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 2.5em;
  color: #333333;
}

.courses .catagories button {
  padding: 1.125em 2.875em;
  background: #f0fdfa;
  color: #0eb582;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: 2px solid #0eb582;
  border-radius: 2em;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.courses .catagories button:hover {
  color: white;
  background: #0eb582;
}

.courses .catagories button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.courses .catagories button img {
  width: 1.25em;
  margin-right: 0.5em;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.courses .subjects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses .subjects img {
  max-width: 4.25em;
  max-height: 4.24em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.courses .subjects section {
  padding: 1em 0;
  background: white;
  border: 2px solid #d1f6ed;
  border-radius: 1em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses .subjects section a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  color: #333333;
}

.courses .subjects section p {
  color: #555555;
}

.courses .subjects section:hover {
  background: #0eb582;
}

.courses .subjects section:hover img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.courses .subjects section:hover a,
.courses .subjects section:hover p {
  color: white;
}

@media screen and (max-width: 58rem) {
  .courses .subjects section {
    padding: 3em 0;
  }
}

@media screen and (max-width: 47rem) {
  .courses .catagories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .courses .subjects section {
    padding: 1em 0;
  }
}

@media screen and (max-width: 36rem) {
  .courses .catagories,
  .courses .subjects {
    width: 90%;
    margin: 3em auto;
  }
  .courses .catagories p {
    line-height: 2em;
  }
  .courses .catagories h2 {
    font-size: 1.75em;
    line-height: 2em;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 24rem) {
  .courses .subjects {
    -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .courses .subjects section a {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 16rem) {
  .courses .catagories p {
    line-height: 1.5em;
  }
  .courses .catagories h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }
  .courses .catagories button {
    padding: 1em 2.5em;
  }
  .courses .subjects {
    -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .courses .subjects img {
    max-width: 3.25em;
    max-height: 3.24em;
  }
  .courses .subjects section a {
    font-size: 1em;
  }
  .courses .subjects section p {
    font-size: 0.75em;
  }
}
/*# sourceMappingURL=courses.css.map */