@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  margin: 10rem 0;
  margin-bottom: 0;
  background: #273c66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .links,
footer .copyright {
  margin: 1em 0;
}

footer .news,
footer .links {
  width: 75%;
}

footer .news {
  padding: 0.1em;
  background: #0eb582;
  background-image: url(../img/newsletter_bg.png);
  border-radius: 1em;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .news p,
footer .news h2 {
  color: white;
  padding: 1rem;
}

footer .news p {
  margin-top: 1em;
}

footer .news h2 {
  font-size: 2.6em;
  font-weight: 700;
  line-height: 1.5em;
}

footer .news form {
  margin-right: 1em;
  padding: 0.5em;
  background-color: white;
  border-radius: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .news form input {
  padding: 1em 2em;
  border-radius: 10em;
  border: none;
  outline: none;
}

footer .news form button {
  padding: 1.125em 1.5em;
  border: none;
  outline: none;
  border-radius: 5em;
  background: #273c66;
  color: white;
  fill: currentColor;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .news form button:hover {
  background: #0eb582;
}

footer .news form button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

footer .news form button img {
  width: 1.25em;
  margin-right: 0.5em;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

footer .links {
  padding: 1em 0;
  border-bottom: 1px solid #2d436f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .links ul {
  list-style: none;
  color: #a5b7d9;
  fill: currentColor;
  line-height: 200%;
}

footer .links ul h4 {
  color: white;
  font-size: 1.25em;
  letter-spacing: 2px;
}

footer .links ul img {
  width: 1em;
  margin-right: 0.5em;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

footer .links ul a {
  color: #a5b7d9;
}

footer .links ul a:hover {
  color: #0eb582;
}

footer .copyright {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright section {
  width: 50%;
  text-align: center;
  color: white;
}

footer .copyright section a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}

footer .copyright section a:hover {
  text-decoration: underline;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (max-width: 81rem) {
  footer .links {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@media screen and (max-width: 65rem) {
  footer .news,
  footer .links {
    width: 85%;
  }
}

@media screen and (max-width: 60rem) {
  footer .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .news section,
  footer .news form {
    margin: 1em 0;
  }
  footer .news p,
  footer .news h2 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  footer .news h2 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.25em;
  }
  footer .news form {
    width: 90%;
    border-radius: 5em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .news form input {
    margin-right: 3em;
  }
  footer .news form button {
    margin-right: 3em;
  }
}

@media screen and (max-width: 47rem) {
  footer {
    margin-top: 15rem;
  }
  footer .news form {
    width: 100%;
    background: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .news form section {
    width: 90%;
  }
  footer .news form input,
  footer .news form button {
    margin: auto;
    width: 100%;
  }
  footer .news form input {
    padding: 1.75em;
  }
  footer .news form button {
    letter-spacing: 2px;
    font-size: 1em;
  }
  footer .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  footer .links ul {
    margin: 1em 0;
  }
  footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .copyright section {
    width: auto;
    margin: 1em 0;
  }
}

@media screen and (max-width: 24rem) {
  footer .news h2 {
    font-size: 2em;
    line-height: 1em;
  }
  footer .news form input {
    padding: 1.5em;
  }
}

@media screen and (max-width: 18rem) {
  footer .news {
    width: 95%;
  }
  footer .news h2 {
    font-size: 1.75em;
    line-height: 1em;
  }
  footer .news form section {
    width: 95%;
  }
  footer .news form input,
  footer .news form button {
    padding: 1.25em;
  }
  footer .links {
    font-size: 0.75em;
  }
  footer .copyright {
    font-size: 0.75em;
  }
}
/*# sourceMappingURL=footer.css.map */